@model IEnumerable<ControlModel>
@using proyecto_poligran_cliente.Models;
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Nombre profesional</th>
                <th>Especialidad</th>
                <th>Fecha</th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var control in Model)
            {
                <tr>
                    <td>@control.Nombre</td>
                    <td>@control.Especialidad</td>
                    <td>@control.Fecha</td>
                    <td>@control.Observaciones</td>
                </tr>
            }
        </tbody>
    </table>
</div>
